.venv/
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
build/
dist/

.env



.ruff_cache/
evaluation/benchmarks/cache/devbench/python/geotext/geotext/data_file/*
evaluation/benchmarks/cache/devbench/python/lice/templates/*
